.adventages {
  @media screen and (min-width: 1024px) {
    padding-bottom: 47px;
  }
}

.adventages-list {
  flex-wrap: wrap;
  display: flex;
  margin: -15px;
}

.adventages-list__item {
  margin: 15px;
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.adventages-list__icon-wrapper {
  @include position-flex($jc: center);
  min-height: 120px;
  background-color: $background-team-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.adventages-list__title {
  margin-bottom: 10px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $section-title-color;
}

.adventages-list__text {
  @extend %font-parameters;
}
