.clients {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-wrap: wrap;
  }
  margin: -15px;
}

.clients__item {
  margin: 15px;
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100%-6 * 30px) / 6);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.clients__link {
  display: flex;

  transition: background-color $effect, color $effect;

  @include bordered($color: rgba($button-color, 1));
  padding: 16px 32px;
  border-radius: 4px;

  background-color: $prime-color;
  color: rgba($button-color, 1);
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}
