.doing {
  padding-top: 47px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: none;
  }
}

.doing-list {
  display: flex;
}

.doing-list__item {
  width: calc(100% - 60px / 3);
  position: relative;

  &::not(:first-child) {
    margin-left: 30px;
  }
}

.doing-list__description-wrapper {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: calc(100% - 20px);
  background-color: rgba($doing-shade-color, 0.8);
}

.doing-list__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $prime-color;
}
