.doing {
  padding-top: 47px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.doing-list {
  display: flex;
  margin: -15px;
}

.doing-list__item {
  position: relative;
  margin: 15px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.doing-list__description-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  background-color: rgba($doing-shade-color, 0.8);
}

.doing-list__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $prime-color;
}
