.main-section {
  padding: 118px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background-footer-color;
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-desktop@2x.jpg");
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-tablet@2x.jpg");
    }
  }
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-mobile@2x.jpg");
    }
  }
}

.main-section__title {
  margin: 0 auto 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $prime-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
