.team {
  background-color: $background-team-color;
}

.team-list {
  display: flex;
}

.team-list__item {
  width: calc(100% / 4);
  @extend %shadow;
  border-radius: 0px 0px 4px 4px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.temmate {
  background-color: $prime-color;
  padding: 30px 32px;
  flex-direction: column;
  @include position-flex($jc: center);
}

.temmate__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $section-title-color;
}

.temmate__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
