.team {
  background-color: $background-team-color;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-list__item {
  @extend %shadow;
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.temmate {
  background-color: $prime-color;
  padding: 30px 32px;
  flex-direction: column;
  @include position-flex($jc: center);
}

.temmate__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $section-title-color;
}

.temmate__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
