body {
  background-color: var(--background-body-color);
  font-family: Roboto, sans-serif;
  color: $text-color;
  padding-top: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 1200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 768px;
  }
  @media screen and (max-width: 767px) {
    width: 480px;
  }
}
