.contacts {
  display: flex;
  margin-left: auto;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin: auto 0 64px 0;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 0 0 10px 0;
  }
  @media screen and (max-width: 767px) {
    margin: 32px 0 0 0;
  }
}

.contacts__link {
  @media screen and (min-width: 768px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  transition: color $effect;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color;
  @include position-flex();

  @extend %h-f;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  &.contacts__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-right: 10px;
  fill: currentColor;
}

// -------------Secondary-contacts

.secondary-contacts {
  margin-top: 20px;
}

.secondary-contacts__map {
  font-style: normal;
  @extend %font-parameters;
  color: $prime-color;
  transition: color $effect;

  @extend %h-f;
}

.secondary-contacts__link {
  display: inline-block;
  margin-top: 9px;

  font-style: normal;
  @extend %font-parameters;
  color: rgba($prime-color, 0.6);
  transition: color $effect;

  @extend %h-f;
}
