.footer {
  background-color: $background-footer-color;
  padding: 60px 0;
}

.footer__container {
  align-items: baseline;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }
}

.footer__first-block {
  @media screen and (max-width: 1023px) {
    text-align: center;
  }
}

.footer__second-block {
  @media screen and (max-width: 1023px) {
    text-align: center;
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 70px;
    padding-top: 12px;
  }
}

.footer__title {
  color: $prime-color;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__third-block {
  @media screen and (max-width: 1023px) {
    text-align: center;
    margin: 60px 0 0 0;
    width: 100%;
  }
  @media screen and (min-width: 1023px) {
    margin-left: auto;
    padding-top: 12px;
  }
}
