.header {
  background-color: $prime-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header--line {
  border-bottom: 1px solid $border-color;
}

.header__container {
  @include position-flex();
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
