.header {
  background-color: $prime-color;
}

.header--line {
  border-bottom: 1px solid $border-color;
}

.header__container {
  @include position-flex();
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
