.logo {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }
}

.logo__studio {
  color: $header-studio-color;
}

.logo__studio--secondary {
  color: $prime-color;
}
