.social-list {
  display: flex;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($button-color, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  transition: background-color $effect, color $effect;

  &:hover,
  &:focus {
    color: $prime-color;
    background-color: $accent-color;
  }
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link--secondary-color {
  background-color: rgba(255, 255, 255, 0.1);
  color: $prime-color;
}
