.subscribe {
  @include position-flex();
  @media screen and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  height: 50px;
  @media screen and (min-width: 1024px) {
    min-width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
  @include bordered($color: rgba(255, 255, 255, 0.3));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    border-color: $accent-color;
  }
  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
    max-width: 450px;
    width: 100%;
  }
}
