.filter {
  @include position-flex($jc: center);

  @media screen and (min-width: 1024px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  margin: -8px;
}

.filter__item {
  margin: 8px 4px;
}
