.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery__item {
  background: $prime-color;
  margin: 15px;

  &:hover .gallery__overlay,
  &:focus .gallery__overlay {
    transform: translateY(0);
    opacity: 1;
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: calc((100% - 2 * 30px) / 2);
  }
}

.gallery__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $section-title-color;
}

.gallery__type {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $text-color;
}

.gallery__box {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  transition: transform $effect, opacity $effect;
  position: absolute;

  padding: 63px 24px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($accent-color, 0.9);
  transform: translateY(100%);
  opacity: 0;
}

.gallery__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $prime-color;
}

.gallery__link {
  display: block;
  transition: box-shadow $effect;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery__text-container {
  padding: 20px 24px;
  @include bordered($width: 2px, $color: $portfolio-border-color);
  border-top: none;
}
